<!--<p>about works!</p>
<h1 >welcom {{userName}}</h1>  data binding
<button class="btn btn-danger" (click)='welcom()'>click</button> event binding
<input type="text" class="form-control w-50 m-auto"  (keyUp.enter)='welcom($event)'>
<h1 [style.color]='onSale==true?"red" :"green"'> web design and devlopment</h1>
-->
<div class="jumbotron">
    <h1 class="display-3">About  app</h1>
    <p class="lead">Jumbo helper text</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
    </p>
</div>

<input type="text" class="form-control w-50 m-auto" [(ngModel)]='x'>
<h1> {{x}}</h1>







